nav
  //- .segmented-buttons
    //- a(href="/")
    //-   button(class={active: currentPage === 'blog'})
    //-     span Help
    //- a(href="/guides")
    //-   button(class={active: currentPage === 'guides'})
    //-     span Guides
    //- a(href="/api")
    //-   button(class={active: currentPage === 'api'})
    //-     span API
  //- a(href="/about")
  //-   button
  //-     span Help
  a(href="https://help.kinopio.club/about/")
    button About →
  //- a(href="https://help.kinopio.club")
  //-   button Help →

  a(href="https://kinopio.club")
    button.button-to-kinopio Kinopio →
