:root {
  --primary: #20411d;
  --primary-background: #e8eede;
  --secondary-background: #e3e3e3;
  --secondary-hover-background: #c9e6c7;
  --secondary-active-background: #abd4a5;
  --light-shadow: rgba(0,0,0,0.2);
  --heavy-shadow: rgba(0,0,0,0.25);
  --info-background: #90ffff;
  --success-background: #98f49f;
  --hover-shadow: 3px 3px 0 var(--heavy-shadow);
  --button-active-inset-shadow: inset 0px 1px 2px var(--heavy-shadow);
  --badge-shadow: 2px 2px 0 var(--light-shadow);
  --button-to-kinopio-hover-shadow: 5px 5px 0 var(--heavy-shadow);
  --max-page-width: 520px;
  --page-margin: 20px;
  --page-background: #e8eede;
  --code-background: #ccd9b7;
  --table-border: #c5c5c5;
  --table-hover-background: rgba(0,0,0,0.05);
  --cta-background: #67ffbb;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
  --tertiary: #c4e7d6;
  --entity-radius: 6px;
  --article-image-radius: 12px;
}
@font-face {
  font-family: 'OsakaMono-Kinopio';
  src: url("/assets/fonts/OsakaMono-Kinopio.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta';
  src: url("/assets/fonts/Recoleta-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta';
  src: url("/assets/fonts/Recoleta-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aureum';
  src: url("/assets/fonts/Greenhouse-Aureum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
body {
  color: var(--primary);
  font-family: var(--sans-serif);
  margin: var(--page-margin);
  background-color: var(--page-background);
}
.content-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  position: relative;
  padding: 0;
}
.logo {
  background-image: url("/assets/logo-patch.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 55px;
  margin-bottom: 6px;
}
.hidden {
  display: none !important;
}
h1 {
  font-family: Recoleta;
  font-size: 30px;
  font-weight: normal;
}
h2,
h3 {
  margin-top: 2rem;
  font-family: Recoleta;
  font-size: 22px;
  font-weight: normal;
}
h1,
h2,
a,
p {
  max-width: var(--max-page-width);
}
p {
  line-height: 1.2;
}
figcaption p {
  font-size: 14px;
  opacity: 0.5;
}
a {
  color: var(--primary);
}
a:hover {
  text-decoration: none;
}
.icon {
  width: 13px;
  display: inline;
  vertical-align: 1px;
  margin-right: 5px;
  user-drag: none;
  -webkit-user-drag: none;
}
.icon.templates {
  margin-bottom: 0;
  width: 20px;
  margin-right: 0;
}
.heart {
  margin-left: 5px;
}
.icon.new {
  width: 32px;
  margin-right: 2px;
}
.icon.updated {
  width: 55px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
form {
  margin: 0;
  display: flex;
}
input {
  font-size: 16px;
  font-family: var(--sans-serif);
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
}
img {
  width: 100%;
  max-width: var(--max-page-width);
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
.badge {
  color: var(--primary);
  text-decoration: none;
  background: var(--info-background);
  padding: 4px 5px;
  border-radius: var(--entity-radius);
  box-shadow: var(--badge-shadow);
}
.badge:hover,
.badge:focus {
  box-shadow: var(--hover-shadow);
}
.badge:active,
.badge.active {
  box-shadow: var(--button-active-inset-shadow);
}
.badge-inline {
  border-radius: 10px;
  padding: 2px 6px;
}
.badge-inline.badge-fixed {
  background: #80caac;
}
.badge-inline.badge-api-docs {
  background: #e088e8;
}
.badge-inline.badge-improved {
  background: #eee698;
}
button {
  color: var(--primary);
  touch-action: manipulation;
  text-align: left;
  padding: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: var(--entity-radius);
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-family: var(--sans-serif);
}
button:hover,
button:focus {
  box-shadow: var(--hover-shadow);
  background: var(--secondary-hover-background);
}
button:active,
button.active {
  color: var(--primary);
  box-shadow: var(--button-active-inset-shadow);
  background: var(--secondary-active-background);
}
.button-to-kinopio {
  background-color: var(--cta-background);
  box-shadow: var(--hover-shadow);
}
.button-to-kinopio:hover,
.button-to-kinopio:focus {
  background-color: var(--cta-background);
  box-shadow: var(--button-to-kinopio-hover-shadow);
}
.button-to-kinopio:active {
  background-color: var(--cta-background);
  box-shadow: var(--button-active-inset-shadow);
}
.segmented-buttons button {
  margin: 0;
  border-radius: 0;
}
.segmented-buttons a button {
  margin-left: -1px;
}
.segmented-buttons a:first-child button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
}
.segmented-buttons a:last-child button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
code,
blockquote {
  background: var(--code-background);
}
code {
  color: var(--primary);
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: var(--entity-radius);
  font-family: "OsakaMono-Kinopio", monospace;
}
pre {
  max-width: var(--max-page-width);
  background: var(--code-background);
  overflow: scroll;
  border-radius: var(--entity-radius);
  padding: 6px;
}
blockquote {
  margin: 0;
  border-radius: var(--entity-radius);
  padding: 8px;
  display: inline-block;
}
blockquote p {
  margin: 0;
}
canvas#background {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: -1;
}
canvas#page-background,
canvas.auto-paint {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: -2;
}
canvas.auto-paint {
  z-index: -3;
}
.table-wrap {
  overflow-x: auto;
  border-radius: var(--entity-radius);
}
table {
  border-collapse: collapse;
  max-width: 1000px;
}
table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}
table tr:hover {
  background: var(--table-hover-background);
}
header .title {
  display: flex;
}
header h1 {
  font-family: Recoleta;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 0;
  color: var(--primary);
}
header a {
  color: var(--primary);
  text-decoration: none;
}
header a:hover,
header a:focus {
  text-decoration: underline;
}
header a:hover .logo,
header a:focus .logo {
  background-image: url("/assets/logo-patch-back.png");
}
.search {
  display: flex;
  margin-bottom: 2rem;
}
.search img {
  width: 18px;
  padding-right: 4px;
  cursor: pointer;
  margin-top: 1px;
}
main button {
  font-size: 16px;
}
footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
footer .button-wrap {
  margin-top: 0.5rem;
}
footer .sections {
  margin-top: 1rem;
  display: flex;
}
footer .sections section + section {
  margin-left: 2rem;
}
footer .sections h3 {
  font-size: 20px;
  margin-top: 1rem;
}
footer nav {
  margin-top: 1rem;
  position: static;
}
footer li a {
  background-color: var(--tertiary);
  color: var(--primary);
  text-decoration: none;
  padding: 4px 5px;
  border-radius: var(--entity-radius);
  box-shadow: var(--badge-shadow);
}
footer li a:hover,
footer li a:focus {
  box-shadow: var(--hover-shadow);
}
footer li a:active {
  box-shadow: var(--button-active-inset-shadow);
}
footer blockquote {
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (max-width: 420px) {
  footer .extended-text {
    display: none;
  }
}
nav {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
nav button {
  margin-left: 6px;
}
@media (max-width: 375px) {
  .content-wrap nav {
    max-width: 220px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
article h1 {
  margin-bottom: 1rem;
}
article ul,
article ol {
  max-width: var(--max-page-width);
  padding-left: 1rem;
  margin-left: 1rem;
}
article ul li,
article ol li {
  margin-bottom: 12px;
}
article ul li {
  list-style-type: disc;
}
article img,
article video {
  width: 420px;
  max-width: 100%;
  border-radius: var(--article-image-radius);
  margin-bottom: 1rem;
}
article img.wide,
article video.wide {
  width: 700px;
  max-width: 100%;
}
article img.narrow,
article video.narrow {
  width: 250px;
}
article img.no-shadow,
article video.no-shadow {
  box-shadow: none;
}
article img.medium,
article video.medium {
  width: 500px;
}
img + h2,
video + h2 {
  margin-top: 1.5rem;
}
.froggo {
  max-width: 60px;
  margin-bottom: 0.5rem;
}
.row {
  display: flex;
  margin-bottom: 1rem;
}
.row button {
  margin-right: 10px;
}
.index ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.index li {
  margin-right: 1rem;
  max-width: 30%;
}
@media (max-width: 574px) {
  .index li {
    max-width: 44%;
  }
}
.index .post-wrap {
  display: block;
  padding: 12px;
  border-radius: var(--entity-radius);
  display: inline-block;
  min-width: 100px;
  text-decoration: none;
  box-shadow: var(--badge-shadow);
}
.index .post-wrap img {
  border-radius: var(--entity-radius);
}
.index .post-wrap video {
  border-radius: var(--entity-radius);
  max-width: 100%;
}
.index .post-wrap h2 {
  margin-top: 1rem;
  margin-bottom: 2px;
  font-size: 18px;
}
.index .post-wrap:hover,
.index .post-wrap:focus {
  box-shadow: var(--hover-shadow);
}
.index .post-wrap:active,
.index .post-wrap.active {
  box-shadow: var(--button-active-inset-shadow);
}
hr {
  border-top: 1px solid var(--primary);
  border-bottom: none;
}
.article-content {
  margin-top: 1rem;
}
.article-content .badge {
  box-shadow: none;
}
.post-meta {
  padding: 3px 5px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 0;
}
.post-tag {
  margin-right: 5px;
}
.guides aside.info {
  border-radius: var(--entity-radius);
  width: 200px;
  margin-top: 2em;
  border: 1px solid var(--primary);
}
.guides aside.info section {
  padding: 8px;
}
.guides aside.info section.title {
  border-bottom: 1px solid var(--primary);
}
.guides aside.info p {
  margin: 0;
}
.guides aside.info p + p {
  margin-top: 8px;
}
.guides .user {
  vertical-align: -3px;
}
.guides .category {
  display: block;
  margin-top: 3em;
  margin-bottom: 1em;
}
.guides .category .badge {
  display: inline-block;
  box-shadow: none;
}
.kinopio-embed {
  height: 620px;
  width: 100%;
  margin-top: 2em;
  border-radius: var(--entity-radius);
  box-shadow: var(--hover-shadow);
}
.kinopio-embed .embed-title {
  border-radius: var(--entity-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--tertiary);
  padding: 8px 10px;
}
.kinopio-embed .embed-title .badge {
  display: inline;
  box-shadow: none;
  margin-left: 5px;
}
.kinopio-embed iframe {
  display: block;
  border-radius: var(--entity-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: calc(100% - 34px);
  width: 100%;
  border: 0;
  background: #fff;
}
.user {
  margin-right: 4px;
  background-image: url("/assets/anon-avatar.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-color: #91ffff;
  border-radius: var(--entity-radius);
  background-position: center;
  background-size: 65%;
  vertical-align: 2px;
  display: inline-block;
}
.badge-row {
  display: flex;
}
.badge-row img {
  max-width: 70px;
  margin: 0;
  margin-right: 6px;
}
